<!-- The whole content below can be removed with the new code. -->
<div>
  <nav class="container-fluid">
  </nav>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/pacman.gif" width="30" height="30" class="d-inline-block align-top" alt="">
      <span [routerLink]="['/home']">{{ title }}</span>
    </a>
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li><a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Listings</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
