<div class='container panel panel-primary'>
  <div class='panel-heading'>
      {{pageTitle}}
  </div>

  <!-- Filter the Products   -->
  <div class='panel-body'>
      <div class='row'>
          <div class="input-group m-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search">Search for</span>
            </div>
            <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="something.." aria-label="search" aria-describedby="search">
          </div>
      </div>
      <h3>{{message}}</h3>

      <div class='row m-2'>
          <h3>Products filtered by: {{listFilter || '*'}}</h3>
      </div>

      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

      <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary' (click)='toggleImage()'>
                              {{showImage ? 'Hide' : 'Show'}} Image
                          </button>
                      </th>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                      <th>5 Star Rating</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td>
                    <img *ngIf="showImage" (load)="onLoad()" width=50 [src]='product.imageUrl' [title]='product.productName | uppercase' />
                    <img *ngIf=" showImage && loadingImages" width=50 src="/assets/images/loading.gif" alt="loading" />
                  </td>
                  <td>{{product.productName}}</td>
                  <td>{{product.productCode}}</td>
                  <td>{{product.releaseDate}}</td>
                  <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                  <td><pm-star [rating]='product.starRating' (notify)='onRatingClicked($event)'></pm-star></td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
